
ClassScheduler/ClassScheduler/bin/*
ClassScheduler/ClassScheduler/obj/*
ClassScheduler/packages/*
ClassScheduler/.vs/ClassScheduler/v16/.suo
ClassScheduler/.vs/ClassScheduler/config/applicationhost.config

